.FeedJobCard {
  width: 100%;
  padding: 0.7rem;
  margin: 0.6rem 0;
  border-radius: 0.3rem;
  text-align: center;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.048);
}

.button-edit-delete-wrapper {
  margin-left: 30%;
}

.button-edit-job,
.button-delete-job {
  background-color: white;
  color: black;
  border: none;
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
  margin-left: 1em;
}

.button-edit-job:hover,
.button-delete-job:hover {
  /* background-color: var(--mainLightBlueColorHover); */
  color: var(--mainLightBlueColor);
}

.flex-wrapper {
  display: flex;
  align-items: center;
}



.job-title {
  font-size: 0.8rem;
}

.publishInfo {
  margin-left: 1em;
  font-size: 0.6rem;
}

.flash:hover {
  color: var(--mainLightBlueColor);
}


