.backdrop {
    position: absolute;
    top: calc(-70px - 1rem);
    left: calc(-300px - 3.75rem);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: brightness(70%) blur(2px);
    z-index: 100;
}

.wrapper-profile {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    position: sticky;
    z-index: 100;
    background-color: white;
    width: 66%;
    height: 66%;
    padding: 1em;
    border-radius: .5rem;
    box-shadow: 0 15px 20px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.close {
    position:absolute;
    top: 1em;
    right: 1em;
}

.main-infos {

}

.profile-content {
    display: flex;
    flex-direction: row;
}

.profile-content > div:not(:last-child) {
    margin-right: 2em;
}
