.favList{
    margin:0.3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.remove {
    position: absolute;
    left: 25px;
    color: var(--grey)
}

.remove:hover{
    cursor: pointer;
    color: rgb(143, 52, 52);
}

.favList ul {
    text-align: left;
}