.favList{
    margin:0.3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.remove:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}