.roomCard{
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.roomCard:hover{
    cursor: pointer;
}

.roomName{
    display: inline-block;
    margin-left: 1rem;
    font-weight: 600;
}

.read{
    opacity: .7;
}

.status{
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    bottom: .8%;
    right: .8%;
    z-index: 10;
}

.online{
    background-color: limegreen;
}

.offline{
    background-color: rgba(45, 53, 76)
}