.articleForm-container {
  position: sticky;
  top: calc(70px + 1rem);
  padding: 0.3rem;
  max-width: 400px;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.048);
}

.articleForm-container .form-group {
  margin: 0.25rem 0.25rem;
}

.articleForm-container Form {
  display: flex;
  flex-direction: column;
}

.articleForm-container Button {
  align-self: center;
}
.articleForm-container .formTitle {
  align-self: center;
}
.articleForm-container .closeFormButton {
  align-self: flex-end;
  font-size: 1rem;
  padding: 0rem 0.45rem;
}
