:root {
  --mainLightBlueColor: #00b4ff;
  --mainLightBlueColorHover: #007cb1;
  --cadetBlue: #35a4b2;
  --blueMansel: #008b9c;
  --greenSheen: #77c0bb;
  --orangeYellowCrayola: #ffd26f;
  --peachCrayola: #ffcda8;
  --linen: #fef3e9;
}

.FeedPostCard {
  width: 100%;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.048);
  padding: 0.3rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FeedPostCard img {
  height: 200px;
}

.postCardType {
  align-self: flex-end;
}

.FeedPostCard p {
  font-size: 0.8rem;
  margin: 0.1rem 0;
  width: 100%;
  word-wrap: break-word;
}

.postCardTitle {
  font-weight: bolder;
}

.postCardPublish {
  align-self: flex-start;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.publishInfos {
  display: flex;
  align-items: center;
}

.postCardPublish a {
  justify-self: flex-end;
  margin: 0 0.2rem;
}

.postCardLink {
  font-style: italic;
  font-weight: 500;
}

.wrapper-avatar {
  margin: 0.2rem 0.7rem;
}
