.FeedPostCard {
  width: 100%;
  box-shadow: 0px 0px 6px 4px rgba(65, 65, 65, 0.267);
  padding: 2rem 3rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.FeedPostCard.highlighted {
  box-shadow: 0px 0px 6px 4px rgba(228, 162, 19, 0.856);
}

.postCardType {
  align-self: flex-end;
  padding: 0.1rem 0.3rem;
  font-weight: bolder;
  border-radius: 0.2rem;
}
.postCardType.WebDev {
  background-color: rgb(168, 245, 168);
}
.postCardType.UI\/UX {
  background-color: rgb(160, 160, 241);
}
.postCardType.CyberSecurity {
  background-color: rgb(238, 141, 141);
}
.postCardType.DataAnalyst {
  background-color: rgb(245, 122, 245);
}

.FeedPostCard p {
  font-size: 0.8rem;
  margin: 0.1rem 0;
  width: 100%;
  word-wrap: break-word;
}

.postCardTitle {
  font-weight: bolder;
  line-height: 1;
  font-size: 1.3rem;
}

.postCardTitle:hover {
  color: var(--mainLightBlueColorHover);
}

.postCardPublish {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.publishInfos {
  display: flex;
  align-items: center;
}

.postCardPublish a {
  justify-self: flex-end;
  margin: 0 0.2rem;
}

.postCardLink {
  display: block;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.postCardLink:hover {
  color: var(--mainLightBlueColorHover);
}

.wrapper-avatar {
  margin-right: 0.5rem;
}

.publishLinks {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.publishLinks span {
  display: inline-block;
  margin-left: 0.8rem;
}

.publishLinks span:hover {
  cursor: pointer;
  color: var(--mainLightBlueColorHover);
}

.postCard.favourites {
  color: var(--mainLightBlueColor);
  font-weight: bolder;
  font-size: 2rem;
  transition: all 0.1s ease-in-out;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.postCard.favourites:hover {
  color: var(--mainLightBlueColorHover);
}

.publishInfos-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.publishInfos-title-name {
  font-weight: 800;
  font-size: 0.8rem;
  color: var(--grey);
}

.publishInfos-title-name:hover {
  cursor: pointer;
  color: var(--mainLightBlueColorHover);
}

.postCard-body {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.postCard-body-image {
  height: fit-content;
  padding-right: 1rem;
}

.postCard-body-content {
  width: 60%;
  line-height: 1.8;
}

.FeedPostCard img {
  height: 200px;
  width: auto;
}
