:root {
  --mainLightBlueColor: #00b4ff;
  --mainLightBlueColorHover: #007cb1;
  --cadetBlue: #35a4b2;
  --blueMansel: #008b9c;
  --greenSheen: #77c0bb;
  --orangeYellowCrayola: #ffd26f;
  --peachCrayola: #ffcda8;
  --linen: #fef3e9;
  --sidesOfFloat: 15rem;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F3F2EF;
  font-size: 12px;  
}

.App {
  display: flex;
  flex-direction: column;
}

.nav-content{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.mainPage{
  width: 100%;
}

.homePageBody {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.homePageBodyBlob {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .homePageBody, .nav-content{
      width:1600px
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .homePageBody, .nav-content{
      width:1200px
    }
}

@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .homePageBody, .nav-content{
      width:900px
    }
}


/* ----------- Retina Screens ----------- */

@media screen 
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .homePageBody, .nav-content{
      width:1200px
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .homePageBody, .nav-content{
      width:1200px
    }
}

@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1199PX) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .homePageBody,.nav-content{
      width:900PX
    }
}


html {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}


.webdev {
  color: green;
}
.uiux {
  color: blue;
}
.cyber {
  color: red;
}
.data-analyst {
  color: purple;
}


.WebDev {
  background-color: rgb(205, 240, 205);
}
.UI\/UX {
  background-color: rgb(217, 217, 243);
}
.CyberSecurity {
  background-color: rgb(241, 215, 215);
}
.DataAnalyst {
  background-color: rgb(241, 216, 241);
}
