:root{
    --mainLightBlueColor:#00B4FF;
    --mainLightBlueColorHover:#007cb1;
    --cadetBlue:#35A4B2;
    --blueMansel:#008B9C;
    --greenSheen:#77C0BB;
    --orangeYellowCrayola:#FFD26F;
    --peachCrayola:#FFCDA8;
    --linen:#FEF3E9;
    --sidesOfFloat:15rem;
}

.homePageBody{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}



#mainBlobSection{
    display: flex;
    justify-content: center;
    position: relative;
    grid-column: 2/3;
}

.homeFloating{
    position: absolute;
    top:calc(50% - calc(var(--sidesOfFloat) / 2));
    left:calc(50% - calc(var(--sidesOfFloat) / 2));
    z-index: 100;
    height:var(--sidesOfFloat);
    width:var(--sidesOfFloat);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:float 20s ease-in-out infinite;
    
}

@keyframes float {
	0% {transform: translatey(0px) translateX(0px);}
	10% {transform: translatey(-12px) translateX(10px);}
	20% {transform: translatey(8px) translateX(5px);}
	40% {transform: translatey(-10px) translateX(-20px);}
	60% {transform: translatey(20px) translateX(-10px);}
	80% {transform: translatey(-10px) translateX(10px);}
	100% {transform: translatey(0px) translateX(0px);}
}

.homeFloating img {
    height:90%;
}


.floatingButtons Link{
    text-decoration: none;
}
.floatingButtons Link:hover {
    border:1px solid black;
    background-color: grey;
}

.LinkButton{
    text-decoration: none;
    background-color: #00B4FF;
    padding: .375rem .75rem;
    margin:0.1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.LinkButton:hover{
    background-color: grey;
    cursor: pointer;
    color:white;
}