.NavMain {
  background-color: white;
  position: sticky;
  top: 0px;
  color: rgb(57, 57, 57);
  height: 70px;
  box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.411);
  z-index: 50;
  margin-bottom: 1rem;
}

.NavMain .nav-content {
  color: rgb(57, 57, 57);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  max-width: 1600px;
  margin: 0 auto;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.nav-list li > p:hover {
  cursor: pointer;
  color: #0d6efd;
}
.nav-list li {
  font-weight: bolder;
}

#logo {
  height: 4rem;
}
