.side-profile-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.048);
    text-align: center;
}

.wrapper-picture-and-name {

}

.side-profile-container .informations {
    margin-top: 1rem;
}

.side-profile-container .informations p {
    font-style: italic;
}

.side-profile-container .informations span {
    font-style: normal;
    font-weight: 500;
}

.edit-link {
    width: 100%;
    margin-top: 0.5rem;
    border-top: 2px solid rgba(0, 0, 0, 0.233);
    justify-self: flex-end;
}

.informations{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.arrow{
    font-size: 1.5rem;
    cursor: pointer;
}