.avatarWrapper{
    position: relative;
}

.avatar{
    border: solid 3px #00B4FF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.avatar.small{
    width: 3.5rem;
    height: 3.5rem;
}

.avatar.big{
    width: 5rem;
    height: 5rem;
}

.avatar.tiny{
    border: solid 2px #00B4FF;
    width: 2rem;
    height: 2rem;
}

.avatar img{
    min-width: 100%;
}
