.messenger{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 70px);
}

.roomsList {
  width: 30%;
  height: 100%;
  overflow-y: auto;
}

.noRoom {
  font-size: 1.5rem;
  padding: 5rem 2rem;
  color: grey;
}

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  height: 100%;
  margin-left: 2rem;
}

.chatBoxWritting,
.chatBoxInput {
  width: 100%;
}

.chatBoxWritting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.chatBoxInput {
  height: 13vh;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border: none;
  border-top: solid 1px #2d354c;
  resize: none;
  outline: none;
  padding: 1rem 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(45, 53, 76, 0.7) rgba(45, 53, 76, 0.15);
}

.chatBoxInput::-webkit-scrollbar {
  width: 8px;
}

.chatBoxInput::-webkit-scrollbar-track {
  background: rgba(45, 53, 76, 0.15);
}

.chatBoxInput::-webkit-scrollbar-thumb {
  background-color: rgba(45, 53, 76, 0.7);
  border-radius: 20px;
  border: none;
}

.chatBoxInput:focus {
  border-top: solid 1px #00b4ff;
}

.chatBoxMessagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: max-content;
  padding-right: 0.5rem;
  width: 100%;
  min-height: 99%;
}

.chatBoxMessages {
  position: relative;
  height: calc(100vh - 70px - 13vh);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(45, 53, 76, 0.7) rgba(45, 53, 76, 0.15);
  scroll-behavior: smooth;
}

.chatBoxMessages::-webkit-scrollbar {
  width: 8px;
}

.chatBoxMessages::-webkit-scrollbar-track {
  background: rgba(45, 53, 76, 0.15);
}

.chatBoxMessages::-webkit-scrollbar-thumb {
  background-color: rgba(45, 53, 76, 0.7);
  border-radius: 20px;
  border: none;
}

.addFriend {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}

.addFriendInput {
  border: none;
  border-bottom: solid 1px #2d354c;
  outline: none;
  width: 100%;
}

.addFriendInput:focus {
  border: none;
  border-bottom: solid 1px #00b4ff;
}

.errorMsg {
  display: inline-block;
  font-size: 0.8rem;
  color: #ba324f;
  height: 1rem;
}
