.messenger{
    position: fixed;
    bottom: 4%;
    right: 8%; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 60%;
    background-color: white;
    padding: 1rem 2rem; 
    border-radius: .5rem;
    z-index: 10;
    border: solid 1px var(--mainLightBlueColorHover);
}

.roomsList {
  width: 40%;
  height: calc(100% - 2rem);
  margin-top: 4rem;
  overflow-y: auto;
}

.noRoom {
  font-size: 1.2rem;
  padding: 5rem 1.5rem;
  color: grey;
}

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  height: 100%;
  margin-left: 1rem;
}

.chatBoxWritting,
.chatBoxInput {
  width: 100%;
}

.chatBoxWritting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatBoxInput {
  height: 20%vh;
  margin-bottom: .5rem;
  margin-top: 1rem;
  border: none;
  border-top: solid 1px #2d354c;
  resize: none;
  outline: none;
  padding: 1rem 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(45, 53, 76, 0.7) rgba(45, 53, 76, 0.15);
}

.chatBoxInput::-webkit-scrollbar {
  width: 8px;
}

.chatBoxInput::-webkit-scrollbar-track {
  background: rgba(45, 53, 76, 0.15);
}

.chatBoxInput::-webkit-scrollbar-thumb {
  background-color: rgba(45, 53, 76, 0.7);
  border-radius: 20px;
  border: none;
}

.chatBoxInput:focus {
  border-top: solid 1px var(--mainLightBlueColor);
}

.chatBoxMessagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: max-content;
  width: 100%;
  min-height: 99%;
}

.chatBoxMessages {
  position: relative;
  height: calc(80vh - 70px - 13vh);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(45, 53, 76, 0.7) rgba(45, 53, 76, 0.15);
  margin-right: .5rem;
}

.chatBoxMessages::-webkit-scrollbar {
  width: 8px;
}

.chatBoxMessages::-webkit-scrollbar-track {
  background: rgba(45, 53, 76, 0.15);
}

.chatBoxMessages::-webkit-scrollbar-thumb {
  background-color: rgba(45, 53, 76, 0.7);
  border-radius: 20px;
  border: none;
}

.addFriend-wrapper{
  /* top: 1rem;
  left: 1rem; */
  position: absolute;
  width: 40%;
}

.addFriend {
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.addFriendInput {
  border: none;
  border-bottom: solid 1px #2d354c;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: .3rem 0;
}

.addFriendInput:focus {
  border: none;
  border-bottom: solid 1px var(--mainLightBlueColor);
}

.errorMsg {
  display: inline-block;
  font-size: 0.8rem;
  color: #ba324f;
  height: 1rem;
}

.messenger-close{
  position: absolute;
  top: .8rem;
  right: .8rem;
  background-color: var(--mainLightBlueColor);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  transition: background .35s ease;
}

.messenger-close:hover{
  cursor: pointer;
  background-color: var(--mainLightBlueColorHover);
}

.messenger-close:before, .messenger-close:after {
  position: absolute;
  left: .65rem;
  top: .2rem;
  content: ' ';
  height: 1.1rem;
  width: 2px;
  background-color: white;
}
.messenger-close:before {
  transform: rotate(45deg);
}
.messenger-close:after {
  transform: rotate(-45deg);
}
