.filterTagDiv{
    background-color: rgba(161, 161, 161, 0.664);
    color: white;
    font-size: 0.8rem;
    margin: 0.1rem 0.1rem;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    transition: all 0.15s ease-in-out;
    border:1px solid transparent;
    border-radius: 0.25rem;
}

.filterTagDiv:hover {
    background-color: var(--mainLightBlueColorHover);
    cursor: pointer;
}

.filterTagDiv span{
    margin: 0.1rem;
    font-weight: bolder;
    padding: 0 0.2rem;
}

.filterTagDiv.active{
    background-color: var(--mainLightBlueColor);
}

