:root{
    --mainLightBlueColor:#00B4FF;
    --mainLightBlueColorHover:#007cb1;
    --cadetBlue:#35A4B2;
    --blueMansel:#008B9C;
    --greenSheen:#77C0BB;
    --orangeYellowCrayola:#FFD26F;
    --peachCrayola:#FFCDA8;
    --linen:#FEF3E9;
}

.Button{
    background-color: #00B4FF;
    padding: .375rem .75rem;
    margin:0.1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.Button:hover{
    background-color: var(--mainLightBlueColorHover);
    cursor: pointer;
}

.Button:disabled {
    background-color: #557a8a;
    color:#86a1be

}