.Button{
    background-color: var(--mainLightBlueColor);
    padding: .375rem .75rem;
    margin:0.1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
    vertical-align: middle;
}

.Button:hover{
    background-color: var(--mainLightBlueColorHover);
    cursor: pointer;
}

.Button:disabled {
    background-color: var(--mainLightBlueColorHover);
    color:#86a1be

}