.form-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    box-shadow: 0 0 4px 4px rgba(71, 71, 71, 0.301);
    border-radius: .5em;
    align-self: center;
    margin-top: 2rem;
    
}

#signLogo{
    height:4rem;
}

.form-group {
    margin-bottom: 1em;
}

.feedback {
  width: 80%;
  font-size: .8em;
  display: inline-table;
  word-wrap: normal;
  max-width: 100%;
  color: rgb(185, 0, 0);
}
.feedback div {
    text-align: center;
}

.form-container input {
    border: none;
    box-shadow: inset 2px 2px 4px rgba(83, 83, 83, 0.26);
    background-color: var(--linen);
}

.form-container .passports {
    display: flex;
    flex-direction: column;
    
}

.passports img {
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
}

.form button{
    margin: 0.8rem 1.2rem;
}
